<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>    
      <ion-title>Produção</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-item *ngFor="let funcionario of funcionarios">
        <ion-thumbnail item-start>
          <img [src]="'assets/imgs/pessoa.jpg'">
        </ion-thumbnail>
        <h2>{{funcionario.funcionario.nome}}</h2>
        <p>Produção : {{funcionario.quantidade}}</p>
        <ion-icon class="nolinebreak" name="remove-circle" color="primary" (click)="decreaseProducao(funcionario.funcionario)"></ion-icon>
        <ion-icon name="add-circle" color="primary" (click)="increaseProducao(funcionario.funcionario)"></ion-icon>
        <ion-icon name="trash" item-end color="danger" (click)="removeFuncionario(funcionario.funcionario)"></ion-icon>
      </ion-item>
      <ion-item *ngIf="total() > 0"> 
        <h1>Produção total</h1>
        <h1 item-end>{{total()}}</h1>
      </ion-item>
      <ion-item *ngIf="total() <= 0"> 
          <h1>Produção zerada</h1>
        </ion-item>
    </ion-list>
    <button ion-button block (click)="goOn()">Adicionar funcionários...</button> 
  </ion-content>